{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ type.name }}</h1>

    <h3>Pokemons</h3>
    {% for pokemon in pokemons %}
        <div>{{ pokemon.name }}</div>
    {% endfor %}

    <h3>Routes</h3>
    {% for route in routes %}
        <div>{{ route.id }}</div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
